# MYSQL - Day 2

<br/>

### Query 1 : Employees Earning More Than Their Managers ###

![Day2_Q1](Img/Day2_Q1.PNG)

#### Solution ####


SELECT e1.Name AS Employee 
FROM Employee as e1, Employee as e2
WHERE (e1.ManagerId = e2.Id) AND (e1.Salary>e2.Salary);

<br/>

### Query 2 :  Duplicate Emails ###

![Day2_Q2](Img/Day2_Q2.PNG)

#### Solution ####


SELECT Email 
FROM Person GROUP BY Email HAVING COUNT(Email)>1;

<br/>

### Query 3 : Customers Who Never Order ###

![Day2_Q3](Img/Day2_Q3.PNG)

#### Solution ####


SELECT Name AS Customers 
FROM Customers AS c 
WHERE c.Id NOT IN (SELECT o.CustomerId FROM Orders AS o);

<br/>

### Query 4 : Department Highest Salary ###

![Day2_Q4](Img/Day2_Q4.PNG)

#### Solution ####


SELECT D.Name AS Department, E.Name AS Employee, E.Salary AS Salary
FROM Employee AS E INNER JOIN Department AS D ON E.DepartmentId = D.Id
WHERE (DepartmentId, Salary) IN (SELECT DepartmentId, MAX(Salary) FROM Employee GROUP BY DepartmentId);

<br/>

### Query 5 : Department Top Three Salaries ###

![Day2_Q5](Img/Day2_Q5.PNG)

#### Solution ####

![Day2_Q5_Sol](Img/Day2_Q5_Sol.PNG)