# MYSQL - Day 1 #

### ================== ###

### Query 1 : Select from two tables ###

![Day1_Q1](Img/Day1_Q1.PNG)

#### Solution: ####


SELECT P.FirstName, P.LastName, A.City, A.State 
FROM Person P LEFT JOIN Address A ON P.PersonId = A.PersonId

<br/>

### Query 2 : 2nd Highest Salary ###

![Day1_Q2](Img/Day1_Q2.PNG)

#### Method 1 ####


SELECT (SELECT DISTINCT Salary FROM Employee ORDER BY SALARY DESC LIMIT 1 OFFSET 1) AS SecondHighestSalary;

#### Method 2 ####


SELECT MAX(Salary) AS SecondHighestSalary
FROM Employee
WHERE Salary < (SELECT MAX(Salary) FROM Employee);

<br/>

### Query 3 : Nth Highest Salary ###

![Day1_Q3](Img/Day1_Q3.PNG)

#### Solution : ####

![Day1_Q3_Sol](Img/Day1_Q3_Sol.PNG)

<br/>

### Query 4 : Rank Scores ###

![Day1_Q4](Img/Day1_Q4.PNG)

#### Solution : ####


<b>Apostrophe is being used because Rank is a keyword in MySQL.</b>

SELECT Score,
    DENSE_RANK() OVER (
        ORDER BY Score DESC
    ) `Rank`
FROM
    Scores;

<br/>

### Query 5 : Consecutive Numbers ###

![Day1_Q5](Img/Day1_Q5.PNG)

#### Solution : ####

![Day1_Q5_Sol](Img/Day1_Q5_Sol.PNG)